body {
    margin: 0;
    background: var(--second-bg);
}

html {
    font-size: 60%;
}

input {
    background: none;
}

a {
    display: inline-block;
    width: 100%;
    text-align: right;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color .3s;
    margin-top: 5px; 
}

.submit__container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    padding: 0 2rem;
}

.img__bg-submit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img__bg-submit img {
    width: 500px;
}

.submit__content {
    display: flex;
    align-items: center;
    text-align: center;
}

.submit__box {
    width: 380px;
}

.submit__box .section-title {
    font-size: 2.2rem;
    color: var(--first-color);
    text-align: center;
}

.submit__description {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: var(--mb-5);
}

.submit__brand {
    font-size: 15px;
    color: var(--second-color);
}

.submit__btn {
    display: inline-block;

    width: 100%;
    height: 50px;

    margin: 1rem 0;
    padding: 1rem 2rem;

    border-radius: .3rem;
    border: 1px solid var(--first-color);

    font-weight: var(--font-bold);
    font-size: 1.6rem;
    text-transform: uppercase;

    outline: none;
    cursor: pointer;

    color: var(--first-color);
    transition:300ms;
}

.submit__btn:hover {
    background-color: var(--first-color);
    color: var(--bg-color);
}

@media screen and (max-width: 1024px) {
    .submit__container {
        grid-gap: 5rem;
        padding-right: 20px;
    }

    .submit__box {
        width: 290px;
    }

    .submit__box .section-title {
        font-size: 2.4rem;
        margin: 12px 0;
    }

    .img__bg-submit img {
        width: 390px;
    }   
}

@media screen and (max-width: 768px) {
    .img__bg-submit {
        display: none;
    }  

    .submit__container {
        grid-template-columns: 1fr;
    }

    .submit__content {
        justify-content: center;
    }
}